* {
    font-family: "Roboto",sans-serif;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    flex-direction: column;
}

.top_line {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.bottom_line {
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}

.left {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.header_logo {
    font-size: 24px;
    color: #F9FAF8;
}

.subtext, .links {
    font-size: 18px;
    color: #e5e7eb;
}

.header, .footer {
    background-color: #1F2937;
}

.hero {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    border-radius: 15px;
    color: White;
    width: 100px;
}

img {
    height: 300px;
    width: 300px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top_line, .bottom_line {
    display: flex;
    justify-content: space-evenly;
}

.placeholder {
    display: flex;
    background-color: gray;
    height: 200px;
    width: 400px;
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}


.box_container {
    display: flex;
    margin-left: 50px;
    margin-right: 100px;
    gap: 50px;
    justify-content: center;

}

.placeholder {
    color: white;
    text-align: center;
}

.box_text {
    text-align: center;
    color: gray;
}

.pic {
    border: 3px solid blue;
    border-radius: 10px;
    height: 100px;
    width: 75px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote_container {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    padding: 25px;
}

.text {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quoter {
    font-weight: bold;
    text-align: right;
}

.signup {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;

}

.signup_container {
    width: 800px;
    height: 150px;
    padding: 0px;
    background-color: #3882F6;
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.action_text {
    padding-right: 75px;
    padding-left: 0px;
    
}

.text_one {
    font-size: 24px;
    
}

.submit {
    border: 2px solid white;
    padding: 5px;
    font-size: 15px;
}

.footer {
    padding: 20px;
    color: white;
    text-align: center;
}

.box_container {
    padding: 50px;
}

.quote {
    background-color: #e5e7eb;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.action_container {
    background-color: #3882F6;
    display: flex;
    color: white;
    padding: 50px;
    border-radius: 10px;
    
}

.link_container {
    padding-left: 100px;
}

.right {
    padding-right: 75px;
}

a {
    margin: 5px;
}
